*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    margin: 0;
}
header {
    background-color: greenyellow;
}
main {
    background-color:darkcyan
}
footer {
    background-color: goldenrod;
}